* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

strong {
  color: #22d4fd;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  display: block;
}

ul,
li {
  list-style: none;
}

body {
  background: #000;
  color: #f6f6f6;
  padding: 0 1.5rem;
  height: 100vh;
}

.container {
  margin: 10% 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__conteudo {
  max-width: 59.3rem;
}

.container__conteudo__titulo {
  font-family: "Krona One", sans-serif;
  font-size: 3.6rem;
  line-height: 5.6rem;
  color: #f6f6f6;
  margin-bottom: 4rem;
}

.container__conteudo__paragrafo {
  font-size: 2.4rem;
  font-family: "Montserrat", sans-serif;
  color: #f6f6f6;
  line-height: 3.6rem;
  opacity: 0.7;
  margin-bottom: 50px;
}

.container__conteudo__links {
  display: flex;
  justify-content: space-between;
}

.container__conteudo__links a {
  background: #22d4fd;
  width: 26rem;
  text-align: center;
  font-size: 24px;
  color: #000;
  padding: 2.2rem;
  font-family: "Montserrat", sans-serif;
  border-radius: 1.6rem;
  font-weight: 600;
  line-height: 3.6rem;
}
